body{
	background-image: url(../img/mv18.jpg);
}
.container{
	width: 1000px;
	height: 1500px;
	background-color: #A4AA9D;
	margin: auto;
	border.border-radius: 
}

.menu{
	text-align: center;
}

.menu li{
display: inline-block;
padding: 8px 20px 4px 30px;
}

.menu a{
	text-emphasis:nome;
	color:brown;
	text-decoration: none;
}

.menu a:hover{
	background-color: #E74C3C;
	padding: 10px;
	border-radius: 20px; 
}

.col{
	widows: 265px;
	vertical-align: top;
	display: inline-block;
	padding: 20px;
	text-align: justify;
}

.col h2{
	color:#FF8F00;
	
}

.row{
	text-align: center;
}
.footer{
	overflow: :hidden;
}

.footer a{
	color:black;
	text-decoration: none; 
}

.footer span{
	float: left;
	padding-left: 60px;
	margin-top: 20px; 


}

#contenido2{
width: 1000px;
height: 980px;
float: left;
background-color: #E3F3AA;
margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;



}
/* crea un cuadro al la derecho de la pantalla   */
aside{
width: 250px;
height: 500px;
background-color: blue;
margin-top: 10px;
float: right;
}

.header{
	text-align: center;
}